
.container-justified {
  text-align: justify;
}


.container-columns .column {
  float: left;
  width: 48.75%;
  padding-right: 0.75%;
  padding-left: 0.75%;
}

/* Make sure that the columns take space when they're empty: if height is auto, and they are floated, 
   they will collapse as if they didn't exist, which breaks the layout */
.container-columns .column {
  min-height: 10px;
}
/* And for IE6, which doesn't understand the min-height */
* html .container-columns .column {
  height: 10px;
}

.container-columns .first-column {
  padding-left: 0;
}
.container-columns .last-column {
  padding-right: 0;
}
