h1{font-size: 1.3em; color: black; padding: 0px; margin: 0px;}
h2{font-size: 1.2em; border: none; line-height: 1.2em; color: black; font-weight:bold; text-decoration:underline; display:inline;}
h3{font-size: 1.1em; border: none; line-height: 1.2em; color: black; font-weight:bold;}
h4{font-size: 1.0em; color: black; font-weight:bold; border: none; padding: 0px; margin: 0px; line-height: 1.1em;}
ul{margin: 0px; padding: 0px; line-height: 1em;}
li{margin: 0px; padding: 0px; line-height: 1em;}
table.rounds{font-size: 0.7em;}
th.rounds{font-size: 0.8em;}
.sortHeader{font-size: 0.8em;}

label{display: block; float: left; width: 100px;}

h2.tablelabel{font-size:24pt;}

.jumplink{color:#0089DC;}
.jumplink:hover{text-decoration:underline; cursor:pointer;}

.pointer:hover{cursor:pointer;}

.nag{color:red; font-size: 0.7em;}

div.wikimodel-emptyline{height: 0px;}
h2.AddEntry{text-decoration:none;}
.closed{background:url(../icons/silk/bullet_arrow_down.png)/*tpa=http://hsld13.debatecoaches.org/resources/icons/silk/bullet_arrow_down.png*/ left center no-repeat; padding-left: 25px;}
.open{background:url(../icons/silk/bullet_arrow_up.png)/*tpa=http://hsld13.debatecoaches.org/resources/icons/silk/bullet_arrow_up.png*/ left center no-repeat; padding-left: 25px;}

.bluebutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.bluebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.bluebutton:active {
	position:relative;
	top:1px;
}
